<div
  ngClass="{{ movie?.id === 1 ? 'content-card first' : 'content-card' }}"
  (click)="onPress()"
  appHoverAffect
>
  <div class="content-img">
    <!-- <img src="{{ content?.imgURL }}" alt="{{ content?.title }}" /> -->
    <!-- if the imgURL doesn't exist show a deafult image using ngIf-->
    <img
      *ngIf="movie?.imgURL"
      src="{{ movie?.imgURL }}"
      alt="{{ movie?.title }}"
    />
    <img
      *ngIf="!movie?.imgURL"
      src="https://via.placeholder.com/150"
      alt="{{ movie?.title }}"
    />
  </div>
  <div
    ngClass="{{ movie?.id === 1 ? 'content-card first' : 'content-card' }}"
    (click)="onPress()"
    appHoverAffect
  >
    <div class="content-img"></div>
    <p>{{ movie?.type }}</p>
    <div ngClass="{{ movie?.type }} content">
      <div class="content-card-header">
        <h3>
          <a [routerLink]="['/detail', movie?.id ?? 0]">{{ movie?.title }}</a>
        </h3>
        <h4>{{ movie?.director }}</h4>
        <ul class="content-tags">
          <li class="content-tag" *ngFor="let tag of movie?.tags">
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
